App_Data/Plataforma.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Plataforma"
    targetNamespace="http://tempuri.org/Plataforma.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Plataforma.xsd"
    xmlns:mstns="http://tempuri.org/Plataforma.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="Plataforma">
    <xs:complexType>
      <xs:sequence>
        <xs:element  name="CustomerName"  type="xs:string"/>
        <xs:element  name="QtdDigital" type="xs:int"/>
        <xs:element  name="Receita" type="xs:decimal"/>
        <xs:element  name="Porcentagem" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
