App_Data/VendasDireitos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="VendasDireitos"
    targetNamespace="http://tempuri.org/VendasDireitos.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/VendasDireitos.xsd"
    xmlns:mstns="http://tempuri.org/VendasDireitos.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="VendasDireitos">
    <xs:complexType>
      <xs:sequence>
        <xs:element  name="Vendas"  type="xs:string"/>
        <xs:element  name="Qtde" type="xs:int"/>
        <xs:element  name="Valor" type="xs:decimal"/>
        <xs:element  name="Porcentagem" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
