Web References/R2WS/R2InfoServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="R2InfoServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ukbcewvapp107.global.umusic.ext/r2InfoService/R2Info.R2InfoServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ukbcewvapp107.global.umusic.ext/r2InfoService/R2Info.R2InfoServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ukbcewvapp107.global.umusic.ext/r2InfoService/R2Info.R2InfoServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/R2Info" />
      <xsd:import schemaLocation="http://ukbcewvapp107.global.umusic.ext/r2InfoService/R2Info.R2InfoServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/XML_Downloader" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IR2InfoServices_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IR2InfoServices_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IR2InfoServices_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IR2InfoServices_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IR2InfoServices_GetR2ISRCInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetR2ISRCInformation" />
  </wsdl:message>
  <wsdl:message name="IR2InfoServices_GetR2ISRCInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetR2ISRCInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IR2InfoServices">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IR2InfoServices/GetData" message="tns:IR2InfoServices_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IR2InfoServices/GetDataResponse" message="tns:IR2InfoServices_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IR2InfoServices/GetDataUsingDataContract" message="tns:IR2InfoServices_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IR2InfoServices/GetDataUsingDataContractResponse" message="tns:IR2InfoServices_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetR2ISRCInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IR2InfoServices/GetR2ISRCInformation" message="tns:IR2InfoServices_GetR2ISRCInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IR2InfoServices/GetR2ISRCInformationResponse" message="tns:IR2InfoServices_GetR2ISRCInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IR2InfoServices" type="tns:IR2InfoServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IR2InfoServices/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IR2InfoServices/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetR2ISRCInformation">
      <soap:operation soapAction="http://tempuri.org/IR2InfoServices/GetR2ISRCInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="R2InfoServices">
    <wsdl:port name="BasicHttpBinding_IR2InfoServices" binding="tns:BasicHttpBinding_IR2InfoServices">
      <soap:address location="http://ukbcewvapp107.global.umusic.ext/r2InfoService/R2Info.R2InfoServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>