Web References/R2WS/R2Info1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XML_Downloader" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XML_Downloader" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ISRC_Information">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISRC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISRCId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceReleaseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceUPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Track_Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Track_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISRC_Information" nillable="true" type="tns:ISRC_Information" />
</xs:schema>